<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a href="#" class="navbar-brand"> Treebook</a>		
			</div>

			<div class="navbar-header">
				<ul class="nav navbar-nav">					
					<li class="active"><%= link_to "All Statuses", feed_path %></li>	
				</ul>

				<ul class="nav navbar-nav navbar-right pull-right">
					<% if user_signed_in? %>
						<li><%= link_to 'Friends', user_friendships_path %></li>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% else %>
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Log in", login_path %></li>
					<% end %>
				</ul>
			</div>

		</div><!-- container -->
	</nav>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= message %>
			</div>
		<% end %>
		
		<%= yield %>
		<footer>
			<%= render 'layouts/footer' %> <!-- partical to track all pages, this will be added to all pages -->
		</footer>
	</div>
</body>
</html>
